.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fffef2;
  margin-bottom: 20px;
}
.nav-items {
  margin-left: 55%;
}
.header img {
  width: 200px;
}
.header nav {
  font-size: 20px;
  display: flex;
}
nav a {
  line-height: 60px;
  text-decoration: none;
  color: rgb(27, 27, 27);
  margin-right: 20px;
  padding: 10px;
}
nav a:hover {
  background-color: #ffb805;
  color: #fff;
}
